@use "@/assets/sass/mixins" as *;

.alert-section {
	@include fixed(bl, 20px, 20px);
	.success {
		@include flex(space-between);
		background-color: green;
		color: get(white);
		padding: 5px 15px;
		border-radius: 10px;
	}
	.error {
		@extend .success;
		background-color: rgba(red, 0.9);
	}
}
