extends ../blocks/structor

block title 
    - title = "home page"
    title= title

append links
    link(rel="stylesheet", href="../css/home.css")

block script
    script(src="../js/pages/home.js" type="module") 

block content 
