:root {
	--primary: orange;
	--secondary: orangered;

	--white: #fff;
	--black: #000;

	--dimWhite: #6b7688;
	--dimBlack: #030303;

	--lightWhite: #e4e4e4;
	--lightBlack: #46364a;

	--border: 1px solid var(--dimWhite);
	--shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
